<div id="eventsHolder">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden eventPlaceholder">
      <div class="my-3 p-3">
        <h2 class="display-5">LED ZEPPELIN Concert</h2>
      </div>
      <div>
        <div class="img"><img class="eventPicture"
            src="https://www.rollingstone.com/wp-content/uploads/2018/06/led-zeppelin-iv-album-release-review-35c87652-3510-4318-9145-25a24db837f5.jpg?crop=900:600&width=440" />
        </div>
        <a href="#" class="eventDetails">More</a>
      </div>
    </div>


{{!--     
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden eventPlaceholder">
      <div class="my-3 p-3">
        <h2 class="display-5">Techno Party</h2>
      </div>
      <div>
        <div class="img"><img class="eventPicture"
            src="https://technomood.org/wp-content/uploads/2017/12/Awakenings_principal_recadr%C3%A9-webayrton.jpg" />
        </div>
        <a href="#" class="eventDetails">More</a>
      </div>
    </div>
  </div> --}}