       
        <section class="notifications" style="display: none;background-color:rgba(1, 131, 29, 0.541);" id="successBox">
            <p class="notification-message" >Message...</p>
        </section>